@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --c1: #31261a;
  --c2: #819b57;
  --c3: #465929;
  --c4: #a18268;
  --background-color: #faf4ea;
}
/* Base */
body {
  color: var(--c1);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
a {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style-type: none;
}
/* Buttons */
button {
  background-color: var(--c2);
  color: var(--background-color);
  border: 2px solid var(--c2);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background-color: transparent;
  color: var(--c3);
}
/* Links */
.nav-link {
  color: var(--background-color);
}
.nav-link:hover,
footer a:hover {
  color: var(--c2);
  font-weight: 600;
}
/* Hero */
.hero-tittle {
  color: var(--background-color);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}
.hero-tittle .accent {
  color: var(--c2);
}
.accent.big-text {
  text-transform: uppercase;
}
/* Advantages */
.advantages-list {
  background-color: var(--c2);
  color: var(--background-color);
}
.advantages-items {
  font-weight: 300;
  font-size: 20px;
}
/* Sections */
.section-tittle {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}
.section-tittle .accent {
  color: var(--c3);
}
section p .accent {
  color: var(--c2);
  font-weight: 600;
}
.chef-tittle {
  font-weight: 600;
  font-size: 40px;
}
.format-tittle {
  font-weight: 600;
  font-size: 24px;
}
.format-text {
  font-weight: 300;
  font-size: 14px;
}
/* Form section */
.article-cart {
  color: var(--background-color);
}
/* Contacts section */
.contacts-short-text {
  color: var(--c3);
}
/* Footer */
footer,
footer a {
  color: var(--background-color);
}
.text-data-safe {
  color: var(--c4);
  font-weight: 400;
  font-size: 14px;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
}
.text-politic {
  font-weight: 300;
  font-size: 16px;
}
