@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --c1: #31261a;
  --c2: #819b57;
  --c3: #465929;
  --c4: #a18268;
  --c5: #cfcfbc;
  --background-color: #faf4ea;
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--c1);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Buttons */
button {
  background-color: var(--c2);
  color: var(--background-color);
  border: 2px solid var(--c2);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  padding: 16px 32px;
  font-size: 18px;
}
button:hover {
  background-color: transparent;
  color: var(--c3);
}
/* Links */
.nav-link {
  color: var(--background-color);
}
.nav-link:hover,
footer a:hover {
  color: var(--c2);
  font-weight: 600;
}
/* Hero */
.container.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
}
.nav-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-menu-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.hero-section {
  padding: 272px 0;
  background: linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.hero-tittle {
  color: var(--background-color);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}
.hero-tittle .accent {
  color: var(--c2);
}
.accent.big-text {
  text-transform: uppercase;
}
/* Advantages */
.advantages-section {
  background-color: var(--c2);
}
.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 0;
}
.advantages-items {
  font-weight: 300;
  font-size: 20px;
  color: var(--background-color);
}
/* Sections */
.traditions-section.section {
  padding-top: 96px;
}
.tradition-img {
  border-radius: 400px 400px 0 0;
}
.section {
  padding: 48px 0;
}
.section-tittle {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}
.traditions-section .section-tittle {
  margin-bottom: 42px;
}
.traditions-section .traditions-text {
  margin-bottom: 42px;
}
.container.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 104px;
}
.traditions-content {
  max-width: 710px;
}
.section-tittle .accent {
  color: var(--c3);
}
section p .accent {
  color: var(--c2);
  font-weight: 600;
}
.chef-tittle {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}
.chiefs-section.section .section-tittle {
  margin-bottom: 80px;
}
.format-tittle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
  padding-top: 248px;
}
.format-text {
  font-weight: 300;
  font-size: 14px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.section-tittle.chiefs-tittle::before,
.section-tittle.chiefs-tittle::after {
  content: '';
  display: block;
  width: 352px;
  height: 0px;
  border: 2px solid var(--c5);
}
.section-tittle.forms-tittle,
.section-tittle.chiefs-tittle {
  text-align: center;
}
.forms-section.section .section-tittle {
  margin-bottom: 80px;
}
.contacts-section {
  padding-bottom: 96px;
}
.contacts-section.section .section-tittle {
  margin-bottom: 16px;
}
/* Form section */
.list-of-acrticle-carts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.article-cart {
  padding: 24px;
  border-radius: 16px;
  color: var(--background-color);
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}
.article-img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--background-color), -16px 16px 0 2px var(--c4);
}
/* Contacts section */
.contacts-short-text {
  color: var(--c3);
  margin-bottom: 42px;
}
.google-map {
  border-radius: 16px;
  border: none;
}
/* Footer */
footer {
  padding: 32px 0px;
  background-color: var(--c1);
  background-image: url('../img/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer,
footer a {
  color: var(--background-color);
}

.text-data-safe {
  color: var(--c4);
  font-weight: 400;
  font-size: 14px;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
}
.text-politic {
  font-weight: 300;
  font-size: 16px;
}
/* Hidden */
.hidden {
  position: absolute;
  left: -10000pc;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
